{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <!-- Mumble UI -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/homestyles.css' %}" />
    <title>HomePro</title>    
</head>
<body>
        
                {% include 'navbar.html' %}
    
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert--{{ message.tags }} flex items-center justify-between p-4 bg-green-100 border border-green-400 text-green-700 rounded-lg 
                    fixed top-5 left-1/2 transform -translate-x-1/2 z-50 shadow-lg">
                    <p class="alert__message flex-grow">{{ message }}</p>
                    <button class="alert__close text-green-700 font-bold hover:text-green-900 ml-4">X</button>
                </div>
                {% endfor %}
            {% endif %}



    {% block content%}

    {% endblock content%}
    
    <script>
        // Wait until the page loads
        document.addEventListener("DOMContentLoaded", function() {
            // Select all alert messages
            let alerts = document.querySelectorAll(".alert");
    
            alerts.forEach(function(alert) {
                // Set timeout to fade out after 3 seconds (3000ms)
                setTimeout(function() {
                    alert.style.transition = "opacity 0.5s ease-out";
                    alert.style.opacity = "0";
                    
                    // Remove the alert from the DOM after fade-out
                    setTimeout(function() {
                        alert.remove();
                    }, 500); // Matches transition time
                }, 3000);
            });
    
            // Close button functionality
            document.querySelectorAll(".alert__close").forEach(function(button) {
                button.addEventListener("click", function() {
                    let alert = this.parentElement;
                    alert.style.transition = "opacity 0.5s ease-out";
                    alert.style.opacity = "0";
                    
                    setTimeout(function() {
                        alert.remove();
                    }, 500);
                });
            });
        });
    </script>
    

</body>


</html>

