{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container mx-auto p-6">
    <h2 class="text-3xl font-bold text-center mb-6">Service Categories</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">

        {% for category in categories %}

        <!-- Plumbing Category -->
        <div class="bg-blue-50 shadow-lg rounded-xl p-6">
            <div class="">
                
                <a href="{% url 'single-category' category.id %}" class="flex items-center gap-4 mb-4 transition delay-50 duration-300 ease-in-out hover:-translate-y-1 hover:scale-101 hover:shadow-2xl">
                <img src="{{category.icon.url}}" alt="John Doe" class="w-20 h-20 rounded-full object-cover">
                
                <h3 class="text-2xl font-semibold">{{category.name}}</h3>
            </a>
            </div>
            <p class="font-serif text-blue-600 font-bold ">Top 5 Service providers</p>
            <ul>
                <li class="flex items-center gap-4 p-2 border-b">
                    <img src="static/images/profiles/pp1.png" alt="John Doe" class="w-12 h-12 rounded-full object-cover transition delay-50 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
                    <div>
                        <p class="font-medium">John Doe</p>
                        <p class="text-yellow-500">⭐ 4.8</p>
                    </div>
                </li>
                <li class="flex items-center gap-4 p-2 border-b">
                    <img src="static/images/profiles/pp2.png" alt="Jane Smith" class="w-12 h-12 rounded-full object-cover">
                    <div>
                        <p class="font-medium">Jane Smith</p>
                        <p class="text-yellow-500">⭐ 4.5</p>
                    </div>
                </li>
                <li class="flex items-center gap-4 p-2 border-b">
                    <img src="static/images/profiles/pp3.png" alt="Mike Ross" class="w-12 h-12 rounded-full object-cover ">
                    <div>
                        <p class="font-medium">Mike Ross</p>
                        <p class="text-yellow-500">⭐ 4.6</p>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}