{% extends 'base.html' %}
{% load static %}


{% block content %}
{{category.name}}
<p>{{category.description}}</p>
{% for user in users %}
            <img src="{{user.profile_image.url}}" alt="John Doe" class="w-12 h-12 rounded-full object-cover transition delay-50 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:shadow-2xl">
            <div>
                <p class="font-medium">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="text-yellow-500">⭐ 4.8</p>
            </div>
{% endfor %}


{% endblock content %}